header {
    width: 100%;
    height: 100vh;
    position: relative;
    

    nav {
        width: 100%;
        position:sticky;
        z-index: 999;
        top: 0;
        background: #000;
        display: flex;
        padding: 20px 50px;
        justify-content: space-between;
        align-items: center;

        .logo {
            flex-basis: 30%;
            a {
                color: #fff;
                font-size: 35px;
            }
        }

        .menu {
            flex-basis: 35%;
            display: flex;
            justify-content: space-around;


            li {
                a {
                    color: #fff;
                    text-transform: capitalize;
                    font-size: 20px;
                    transition: 0.5s all ease;

                    &:hover{
                        color: green;
                    }
                }
                // a:hover {
                //     color: green;
                // }
            }
        }
        .mobile {
            display: none;
            span {
                font-size: 40px;
                color: #fff;
            }
        }
    }

    .hero-section {
        width: 100%;
        position: relative;
        height: calc(100% - 83px);
        background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/bg.jpg) no-repeat center;
        background-size: cover;

        .row {
            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        h3 {
            color: #fff;
            font-size: 50px;
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            color: #fff;
            font-size: 22px;
            text-align: center;
        }
    }
}

