#overview {
    width: 100%;
    position: relative;
    background: url(../img/foodbg.jpg)no-repeat center;
    background-size: cover;
    padding: 100px 0;
    z-index: 1;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.7);
        // opacity: 0.7;
        z-index: -1;
    }
    .overview-txt {
        h2 {
            color: #fff;
            font-size: 45px;
            
        }
        p {
            @extend h2;
            font-size: 20px;
            margin: 15px 0;
        }
        button {
            padding: 15px 30px;
            font-size: 20px;
            border: 0;
            background: #f00;
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 15px;
        }
    }
}