#service {
    width: 100%;
    position: relative;
    margin: 60px 0;
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .col {
            flex-basis:270px;

            .single-services {
                border: 1.5px solid #ccc;
                text-align: center;
                padding: 30px;
                border-radius: 10px;

                h2 {
                    color: #111;
                    font-size: 24px;
                }
                p {
                    margin: 10px 0;
                    color: #576574;
                }
                button {
                    margin-top: 5px;
                    padding: 8px 10px;
                    font-size: 14px;
                    cursor: pointer;
                    background: transparent;
                    color: #333;
                    border: 2px solid #111;
                  
                    outline: 0;
                    border-radius: 30px;
                }
            }
        }
    }
}